
<form [formGroup]='form' (ngSubmit)="testing()">
  <div class="form-group">
    <label for="" for="password">Old password</label>
    <input type="password" formControlName='oldPassword' id="oldPassword" class="form-control" >

    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
        <div *ngIf="oldPassword?.pending">
            Please wait password is vlidating
          </div>

              <div *ngIf="oldPassword.errors.oldPasswordCheck">
                  Password is not matching .
              </div>
        <div *ngIf="oldPassword.errors.required">
            Password is required
        </div>

    </div>
  </div>
  <div class="form-group">
      <label for="" for="newPassword">New password</label>
      <input type="password" formControlName='newPassword' name="newPassword" class="form-control" >
       <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
          new password is required

       </div>
    </div>
    <div class="form-group">
        <label for="" for="cnfPassword">Confirm Password</label>
        <input type="password" formControlName="cnfPassword" name="cnfPassword" class="form-control" >

        <div class="alert alert-danger" *ngIf="cnfPassword.touched && cnfPassword.invalid">
           <div *ngIf="cnfPassword.errors.required">Confirm password is required </div>
         </div>
         <div class="alert alert-danger" *ngIf="cnfPassword.valid && form.invalid && form.errors.passwordMatch">
            <div>Confirm password is missmatched </div>
          </div>
    </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Change Password</button>
</form>
